body {
  background-color: #fffdf2;
  font-family: 'Helvetica';
}

img {
  margin-bottom: 16px;
  width: 310px;
}

.title {
  font-weight: bold;
  letter-spacing: 2pt;
  background-color: #fdefdb;
}

h5.page-title {
  font-weight: bold;
  margin-top: 1rem;
  letter-spacing: 1.3pt;
}

.main-content>p {
  margin-top: 1rem;
}

.main-content>ul, .main-content > ol {
  padding-left: 1.25rem;
}

.card * button {
  display: block;
  width: 100%;
  color: #0056b3;
}

.card * li {
  margin-top: 0.1rem;
  font-size: 90%;
  text-align: left;
}

.card * button {
  color: #e68231;
}

.card * button:hover {
  color: white;
  background-color: #e68231;
}

.card p {
  margin-bottom: 0.5rem;
  margin-left: 1.4rem;
  line-height: 1.2rem;
  text-align: justify;
}

.card a {
  font-size: 85%;
}

a.selected {
  color: white;
  background-color: #ff8851;
}