body {
  background-color: #fffdf2;
}

img {
  margin-bottom: 16px;
  width: 310px;
}

.title {
  font-weight: bold;
  letter-spacing: 2pt;
  background-color: #fdefdb;
}

h4 {
  font-weight: bold;
  margin-top: 2rem;
}

.main-content > p {
  margin-top: 1rem;
}

.main-content > ul {
  padding-left: 1.25rem;
}

.card * button {
  display: block;
  width: 100%;
  color: #0056b3;
}

.card * ul {
  margin: 0;
}
.card * li {
  margin-top: 0.4rem;
  text-align: left;
}

.card * button{
  color: #e68231;
}

.card * button:hover {
  color: white;
  background-color: #e68231;
}

.card p {
  margin-bottom: 0.5rem;
  margin-left: 1.4rem;
  line-height: 1.2rem;
  text-align: justify;
}

a.selected {
  color: white;
  background-color: #ff8851;
}