<hr>
<div class="m-3">
  <h5>Contents:</h5>
  <div class="list-group mb-3">
    <a href="index.html" class="text-center list-group-item list-group-item-action">Home</a>
    <a href="get-started.html" class="text-center list-group-item list-group-item-action">Get started</a>
    <a href="activities.html" class="text-center list-group-item list-group-item-action">Activities</a>
    <a href="workout-combined.html" class="text-center list-group-item list-group-item-action">Combined workout</a>
    <a href="workout-individual.html" class="text-center list-group-item list-group-item-action">Individual workouts</a>
    <a href="workout-energy.html" class="text-center list-group-item list-group-item-action">Energy only workout</a>
    <a href="delete-workout.html" class="text-center list-group-item list-group-item-action">Delete workouts</a>
    <a href="known-issues.html" class="text-center list-group-item list-group-item-action">Known issues</a>
  </div>
  <small class="float-right text-muted mb-1">created by <a href="https://msm-itc.com">msm-itc.com</a></small>
</div>