<nav class="navbar navbar-light app-title">
  <a class="navbar-brand m-auto" href="index.html">Workout Records</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="get-started.html">Get started</a></li>
      <li class="nav-item"><a class="nav-link" href="activities.html">Activities</a></li>
      <li class="nav-item"><a class="nav-link" href="workout-combined.html">Combined workout</a></li>
      <li class="nav-item"><a class="nav-link" href="workout-individual.html">Individual workouts</a></li>
      <li class="nav-item"><a class="nav-link" href="workout-energy.html">Energy-only workout</a></li>
      <li class="nav-item"><a class="nav-link" href="delete-workout.html">Delete workout</a></li>
      <li class="nav-item"><a class="nav-link" href="known-issues.html">Known issues</a></li>
    </ul>
  </div>
</nav>